html,
body,
.App {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: $text !important;
}

ul {
  list-style-type: none;
}
