//Body
$body-bg: #e1e7e7;

//Types
$fire: #f08030;
$grass: #78c850;
$electric: #f8d030;
$water: #445e9c;
$ground: #e0c068;
$rock: #b8a038;
$fairy: #fceaff;
$poison: #a040a0;
$bug: #a8b820;
$dragon: #7038f8;
$psychic: #f85888;
$flying: #a890f0;
$fighting: #c03028;
$normal: #a8a878;
$ghost: #705898;
$steel: #b8b8d0;
$ice: #98d8d8;
$dark: #705848;

//Colors
$white: white;
$black: #222224;
$primary: #ef4144;
$secondary: #0056db;

//Text
$text: #333;
